.main-box{
	background: #ddd;
	border: 1px #222;
	margin: 1rem;

	textarea, select {
		width: 100%;
		height: 300px;
	}

	a {
		display: inline;
	}
}

.result-box {
	margin-top: 1rem;
}