span.version {{version}}
section.main-box
	.row(style="line-height: 30px;")
		.col-md-6 {{plugins[databaseName].title}}
			span(ng-show="plugins[databaseName].options.isStrictMatch")
				| (
				input(type="checkbox", ng-model="isStrictMatch")
				| Is strict match?)
		.col-md-2 Databases
		.col-md-4 Database info
	.row
		.col-md-6
			textarea(ng-model="inputList", split-array)
		.col-md-2
			select(size="10", ng-model="databaseName", ng-options="plugin.name as plugin.name for plugin in plugins")
		.col-md-4
			div Database url: {{plugins[databaseName].url}}
			div Data format: {{plugins[databaseName].dataFormat}}
			div Concurrency: {{plugins[databaseName].concurrency}}
			div {{plugins[databaseName].comment}}
	.row
		.col-md-6
			div.pull-left
				button.btn.btn-default(type="button", ng-click="startJob()") Time to work!
			span.pull-right Status: {{status}}
				i.fa.fa-spinner.fa-spin(ng-show="status == 'working'")
	section(ng-show="statusBoard.length > 0")
		.row.result-box
			.col-md-1 Status
			.col-md-1 Source data format
			.col-md-3 School name
			.col-md-2 Events / Duplicates
		.row(ng-repeat="r in statusBoard track by r.name")
			.col-md-1
				i.fa.fa-check(ng-show="r.status == 'OK'")
				i.fa.fa-spinner.fa-spin(ng-show="r.status == 'IN_PROGRESS'")
				span(ng-show="r.status != 'OK' && r.status != 'IN_PROGRESS'") {{r.status}}
			.col-md-1 {{r.dataFormat}}
			.col-md-3 {{r.name}}
			.col-md-2 {{r.events}} / {{r.duplicates}}
		.row
			.col-md-6
				.pull-left
					button.btn.btn-default(type="button", ng-click="downloadCsv()", ng-show="!isDownloading") Download csv...
					section(ng-show="isDownloading")
						i.fa.fa-spinner.fa-spin
						| Making csv...
				.pull-right
					button.btn.btn-default(type="button", ng-click="clearData()") Clear data
	section(ng-show="captcha")
		img(data-ng-src="{{captcha}}")
		form(ng-submit="resolveCaptcha()")
			input(type="text", ng-model="captchaCode")
			button(type="submit") Resolve!
	section(ng-show="statusBoard.length < 1") No events yet...