doctype html
html(lang='en')
	head
		base(href="/")
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="")
		meta(name="author", content="")
		title Varsity Views - Schedule Downloader
		if cssAssets
			each css in cssAssets
				link(href="#{css}", rel="stylesheet")
	body(id="ScheduleApp")
		if jsAssets
			each js in jsAssets
				script(src='#{js}')
		#content(ui-view="main-view", autoscroll="false")